Server/wsdl/MWWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://Httpd.home.dimm/" name="MWWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Httpd.home.dimm/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Httpd.home.dimm/" schemaLocation="MWWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="Multiply">
    <part name="parameters" element="tns:Multiply"/>
  </message>
  <message name="MultiplyResponse">
    <part name="parameters" element="tns:MultiplyResponse"/>
  </message>
  <message name="StringConcat">
    <part name="parameters" element="tns:StringConcat"/>
  </message>
  <message name="StringConcatResponse">
    <part name="parameters" element="tns:StringConcatResponse"/>
  </message>
  <message name="Minus">
    <part name="parameters" element="tns:Minus"/>
  </message>
  <message name="MinusResponse">
    <part name="parameters" element="tns:MinusResponse"/>
  </message>
  <portType name="MWWebService">
    <operation name="Multiply">
      <input message="tns:Multiply"/>
      <output message="tns:MultiplyResponse"/>
    </operation>
    <operation name="StringConcat">
      <input message="tns:StringConcat"/>
      <output message="tns:StringConcatResponse"/>
    </operation>
    <operation name="Minus">
      <input message="tns:Minus"/>
      <output message="tns:MinusResponse"/>
    </operation>
  </portType>
  <binding name="MWWebServicePortBinding" type="tns:MWWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Multiply">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="StringConcat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Minus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MWWebServiceService">
    <port name="MWWebServicePort" binding="tns:MWWebServicePortBinding">
      <soap:address location="http://localhost:8050/1234"/>
    </port>
  </service>
</definitions>

