Server/wsdl/MWWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://Httpd.home.dimm/" name="MWWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Httpd.home.dimm/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Httpd.home.dimm/" schemaLocation="MWWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createStatement">
    <part name="parameters" element="tns:createStatement"/>
  </message>
  <message name="createStatementResponse">
    <part name="parameters" element="tns:createStatementResponse"/>
  </message>
  <message name="executeUpdate">
    <part name="parameters" element="tns:executeUpdate"/>
  </message>
  <message name="executeUpdateResponse">
    <part name="parameters" element="tns:executeUpdateResponse"/>
  </message>
  <message name="executeQuery">
    <part name="parameters" element="tns:executeQuery"/>
  </message>
  <message name="executeQueryResponse">
    <part name="parameters" element="tns:executeQueryResponse"/>
  </message>
  <message name="getMetaData">
    <part name="parameters" element="tns:getMetaData"/>
  </message>
  <message name="getMetaDataResponse">
    <part name="parameters" element="tns:getMetaDataResponse"/>
  </message>
  <message name="getSQLArrayResult">
    <part name="parameters" element="tns:getSQLArrayResult"/>
  </message>
  <message name="getSQLArrayResultResponse">
    <part name="parameters" element="tns:getSQLArrayResultResponse"/>
  </message>
  <message name="getSQLFirstRowField">
    <part name="parameters" element="tns:getSQLFirstRowField"/>
  </message>
  <message name="getSQLFirstRowFieldResponse">
    <part name="parameters" element="tns:getSQLFirstRowFieldResponse"/>
  </message>
  <message name="close">
    <part name="parameters" element="tns:close"/>
  </message>
  <message name="closeResponse">
    <part name="parameters" element="tns:closeResponse"/>
  </message>
  <message name="open">
    <part name="parameters" element="tns:open"/>
  </message>
  <message name="openResponse">
    <part name="parameters" element="tns:openResponse"/>
  </message>
  <message name="execute">
    <part name="parameters" element="tns:execute"/>
  </message>
  <message name="executeResponse">
    <part name="parameters" element="tns:executeResponse"/>
  </message>
  <portType name="MWWebService">
    <operation name="createStatement">
      <input message="tns:createStatement"/>
      <output message="tns:createStatementResponse"/>
    </operation>
    <operation name="executeUpdate">
      <input message="tns:executeUpdate"/>
      <output message="tns:executeUpdateResponse"/>
    </operation>
    <operation name="executeQuery">
      <input message="tns:executeQuery"/>
      <output message="tns:executeQueryResponse"/>
    </operation>
    <operation name="getMetaData">
      <input message="tns:getMetaData"/>
      <output message="tns:getMetaDataResponse"/>
    </operation>
    <operation name="getSQLArrayResult">
      <input message="tns:getSQLArrayResult"/>
      <output message="tns:getSQLArrayResultResponse"/>
    </operation>
    <operation name="getSQLFirstRowField">
      <input message="tns:getSQLFirstRowField"/>
      <output message="tns:getSQLFirstRowFieldResponse"/>
    </operation>
    <operation name="close">
      <input message="tns:close"/>
      <output message="tns:closeResponse"/>
    </operation>
    <operation name="open">
      <input message="tns:open"/>
      <output message="tns:openResponse"/>
    </operation>
    <operation name="execute">
      <input message="tns:execute"/>
      <output message="tns:executeResponse"/>
    </operation>
  </portType>
  <binding name="MWWebServicePortBinding" type="tns:MWWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createStatement">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="executeUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="executeQuery">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMetaData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSQLArrayResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSQLFirstRowField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="close">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="open">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="execute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MWWebServiceService">
    <port name="MWWebServicePort" binding="tns:MWWebServicePortBinding">
      <soap:address location="http://localhost:8050/1234"/>
    </port>
  </service>
</definitions>

